<li id="micropost-<%= micropost.id %>">
  <div>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  </div>
  <div>
    <strong>Title: </strong>
    <span class="title"><%= micropost.title %> </span></br>
    <strong>Status: </strong>
    <span class="status"><%= micropost.status %></span>
  </div>
  <div>
    <strong>Description: </strong></br>
    <span class="description"><%= micropost.description %>
    </span>
  </div>
  <div>
    <span class="image">
      <%= image_tag micropost.picture.url if micropost.picture? %>
    </span>
  </div>
  <div>
    <span class="timestamp">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      <% if @current_user.role == "bug manager" %>
        <%= link_to 'Edit', edit_micropost_path(micropost) %>
        <% end %>
      <% if current_user?(micropost.user) %>
        <%= link_to "delete", micropost, method: :delete,
      data: { confirm: "You sure?" } %>
      <% end %>
    </span>
  </div>
</li>
